body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('mathematique.jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #a09e9e;
        }
        
        .container {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 2rem;
            border-radius: 15px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            max-width: 450px;
            width: 90%;
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        
        h1 {
            color: #ffffff;
            margin-bottom: 1.5rem;
        }
        
        .operation {
            font-size: 2rem;
            margin: 1.5rem 0;
            padding: 1rem;
            background-color: #f8f9fa;
            border-radius: 5px;
        }
        
        input {
            font-size: 1.2rem;
            padding: 0.5rem;
            width: 80%;
            text-align: center;
            border: 2px solid #ddd;
            border-radius: 5px;
            margin-bottom: 1rem;
        }
        
        button {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 0.7rem 1.5rem;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        button:hover {
            background-color: #002d4b;
        }
        
        .result {
            margin-top: 1rem;
            font-size: 1.2rem;
            min-height: 1.5rem;
        }
        
        .score {
            margin-top: 1.5rem;
            font-weight: bold;
            font-size: 1.1rem;
        }
        
        .correct {
            color: #27ae60;
        }
        
        .incorrect {
            color: #e74c3c;
        }
        
        .timer {
            font-size: 1.1rem;
            margin-bottom: 1rem;
            color: #a8a5a5;
        }